In [ ]:
#STRATEGIC N-FOLD CROSS VALIDATION
#Importing the required libraries
import pandas as pd 
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import Perceptron 
from sklearn.model_selection import cross_validate 
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import KFold

In [ ]:
#Import the dataset.
df=pd.read_csv('/content/sample_data/WineQT.csv')
#Display the data from dataset
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

In [ ]:
#Displays the datatype of the columns in the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 107.3 KB

In [ ]:
#split the data 
data_frame=df.values
X=data_frame[:, 0:10]
y=data_frame[:, 11]
#Displaying the values
X
y

array([5., 5., 5., ..., 5., 6., 5.])

In [ ]:
# Scaling the data_frame 
scale = StandardScaler() 
X = scale.fit_transform(X)

In [ ]:
#Splitting the data into test dataset and train dataset
xtrain, xtest, ytrain, ytest = train_test_split(X,y,test_size=0.2)

In [ ]:
# implementing a perceptron model 
p = Perceptron(max_iter=50, tol=0.005) 
p.fit(xtrain, ytrain)

Perceptron(max_iter=50, tol=0.005)

In [ ]:
# splitting the dataset in ten folds 
cv = KFold(n_splits=10, random_state=1, shuffle=True) 
# perform ten-fold cross validation 
score = cross_validate(p, xtrain, ytrain, scoring='accuracy', cv=cv) 
# view the datasets splitted in 10 different ways 
for a, b in cv.split(data_frame): 
 print(a, b)

[   0    1    2 ... 1140 1141 1142] [   6   27   41   47   49   65   80   81   90   94  101  108  111  119
  120  126  133  135  142  148  156  159  189  190  202  204  216  228
  242  244  255  258  280  283  304  309  314  323  335  336  340  367
  370  388  390  401  422  439  452  459  479  484  494  495  507  512
  527  536  555  577  587  593  600  619  639  671  677  688  698  699
  709  725  731  734  737  754  761  764  768  771  780  812  814  831
  841  846  857  861  863  866  867  873  909  912  925  930  935  939
  956  963  970  971  976  977  987  991 1005 1011 1052 1083 1097 1109
 1123 1130 1136]
[   0    1    2 ... 1140 1141 1142] [   8   10   34   35   60   62   75   76   78   85   88   99  104  139
  154  165  180  181  186  191  195  200  201  205  220  226  236  248
  259  262  267  298  301  310  311  320  321  329  345  348  349  393
  395  403  404  408  419  437  443  446  455  457  463  464  471  473
  493  496  516  531  534  537  541  546  550  568  573  582  612  632
  641  664  672  675  693  707  710  735  743  746  757  762  776  778
  783  785  790  798  801  807  809  820  836  848  852  853  872  880
  890  903  926  937  943  944  969  980  988 1010 1042 1054 1062 1089
 1121 1122 1137]
[   0    1    4 ... 1140 1141 1142] [   2    3    5   11   13   17   19   54   56   59   72   73   84   91
  117  125  137  151  172  175  177  194  207  215  223  241  264  274
  299  306  331  347  350  386  414  428  432  435  492  509  525  528
  538  560  567  578  597  605  616  623  625  631  640  647  649  655
  659  685  686  692  697  708  713  720  742  744  745  747  748  759
  763  791  793  794  797  799  824  825  840  844  859  882  885  892
  893  897  908  921  927  929  942  950  951  965  993 1000 1013 1018
 1022 1037 1040 1041 1043 1049 1068 1070 1072 1081 1094 1108 1111 1113
 1125 1127 1134]
[   0    1    2 ... 1140 1141 1142] [  12   16   23   50   69   74  103  106  107  121  160  187  198  218
  233  238  250  257  265  268  281  282  293  341  354  355  363  368
  372  374  375  382  383  385  430  434  453  472  478  480  481  482
  483  486  487  491  502  529  535  548  553  554  559  572  581  589
  594  607  629  635  646  650  653  684  700  705  719  729  730  767
  769  774  789  795  803  813  816  817  818  827  833  838  858  868
  870  887  888  894  918  932  936  938  945  946  947  952  967  981
  985  996  997 1006 1012 1021 1033 1051 1071 1077 1085 1087 1091 1102
 1114 1116]
[   1    2    3 ... 1140 1141 1142] [   0   14   26   31   33   40   45   46   57   58   61   66   68   82
   89   92  110  114  118  132  134  146  161  178  185  192  193  224
  239  245  246  247  254  276  277  286  289  291  294  297  307  318
  339  358  364  366  381  387  389  411  415  418  426  429  433  436
  474  521  530  552  561  571  576  579  584  588  599  602  604  613
  628  644  658  661  674  678  680  691  694  736  741  752  772  773
  775  779  802  826  828  850  860  864  898  900  913  931  953  962
  968  972  984  992 1030 1047 1056 1065 1069 1075 1084 1100 1105 1106
 1115 1133]
[   0    1    2 ... 1139 1140 1141] [   4    7    9   22   29   30   38   39   52   67   71   95  102  116
  122  124  147  157  162  173  179  184  197  214  221  227  261  273
  284  285  305  334  344  346  353  356  359  361  371  378  392  394
  399  402  412  421  427  447  448  449  466  467  504  506  510  517
  523  543  551  563  574  592  608  636  638  651  660  663  673  679
  683  701  702  711  721  726  765  796  804  815  830  834  842  854
  862  874  875  876  891  895  920  922  934  954  959  973  979  990
  994  995 1003 1009 1015 1016 1017 1020 1024 1027 1029 1035 1073 1082
 1092 1142]
[   0    1    2 ... 1140 1141 1142] [  18   36   42   93   97   98  105  112  115  128  140  153  158  168
  203  212  213  217  225  232  237  260  272  292  312  328  333  337
  343  351  352  360  362  365  373  377  379  396  397  400  425  441
  442  445  488  498  501  511  514  518  519  522  540  544  549  558
  565  570  590  598  614  618  622  645  654  667  669  676  682  704
  716  718  733  756  758  766  770  782  786  805  808  819  823  839
  851  877  904  906  917  923  940  941  948  955  961  975  978  989
  998 1004 1014 1026 1045 1053 1055 1066 1076 1078 1079 1099 1117 1128
 1131 1135]
[   0    2    3 ... 1140 1141 1142] [   1   37   43   51   64   70   83  123  127  131  138  143  145  150
  163  164  167  171  174  182  188  206  208  230  240  249  256  270
  275  295  300  308  315  326  332  338  342  376  380  406  407  409
  410  417  423  438  440  454  458  460  465  476  490  500  503  524
  526  533  539  556  566  583  585  601  603  610  617  624  634  637
  643  652  662  665  681  690  703  717  724  727  732  750  777  781
  784  806  835  837  845  856  879  886  899  902  916  919  957  982
  983  986 1007 1023 1025 1028 1032 1036 1038 1063 1086 1090 1093 1107
 1132 1139]
[   0    1    2 ... 1138 1139 1142] [  21   24   28   32   44   48   53   55   63   79   86   87  100  109
  113  136  166  169  199  211  219  222  229  231  234  251  253  271
  287  288  290  296  302  303  322  324  325  330  369  384  391  413
  420  424  444  450  451  462  475  477  499  520  545  547  557  575
  591  596  611  620  642  656  657  666  670  687  689  696  714  722
  723  738  739  740  755  760  787  788  800  810  821  822  832  843
  855  869  878  881  884  911  915  924  949  958  966  974 1002 1008
 1019 1044 1048 1058 1059 1074 1080 1103 1112 1118 1120 1124 1126 1129
 1140 1141]
[   0    1    2 ... 1140 1141 1142] [  15   20   25   77   96  129  130  141  144  149  152  155  170  176
  183  196  209  210  235  243  252  263  266  269  278  279  313  316
  317  319  327  357  398  405  416  431  456  461  468  469  470  485
  489  497  505  508  513  515  532  542  562  564  569  580  586  595
  606  609  615  621  626  627  630  633  648  668  695  706  712  715
  728  749  751  753  792  811  829  847  849  865  871  883  889  896
  901  905  907  910  914  928  933  960  964  999 1001 1031 1034 1039
 1046 1050 1057 1060 1061 1064 1067 1088 1095 1096 1098 1101 1104 1110
 1119 1138]

In [ ]:
# print the final test score (for tol=0.005) 
print(score['test_score'])

[0.57608696 0.52173913 0.41304348 0.4673913  0.51648352 0.51648352
 0.49450549 0.48351648 0.40659341 0.41758242]

In [ ]:
#Implementing a perceptron model 
p = Perceptron(max_iter=50, tol=0.001) 
p.fit(xtrain, ytrain) 
#Splitting the dataset in ten folds 
cv = KFold(n_splits=10, random_state=1, shuffle=True) 
#Performing ten-fold cross validation 
score = cross_validate(p, xtrain, ytrain, scoring='accuracy', cv=cv)
#Printing the final test score 
print(score['test_score'])

[0.59782609 0.52173913 0.41304348 0.4673913  0.51648352 0.51648352
 0.48351648 0.46153846 0.40659341 0.41758242]

In [ ]:
#Implementing a perceptron model 
p = Perceptron(max_iter=50, tol=0.01) 
p.fit(xtrain, ytrain) 
#Splitting the dataset in ten folds 
cv = KFold(n_splits=10, random_state=1, shuffle=True) 
#Performing ten-fold cross validation 
score = cross_validate(p, xtrain, ytrain, scoring='accuracy', cv=cv)
#Printing the final test score 
print(score['test_score'])

[0.58695652 0.52173913 0.41304348 0.4673913  0.51648352 0.51648352
 0.49450549 0.48351648 0.3956044  0.41758242]

In [ ]:
#Implementing a perceptron model 
p = Perceptron(max_iter=50, tol=0.05) 
p.fit(xtrain, ytrain) 
#Splitting the dataset in ten folds 
cv = KFold(n_splits=10, random_state=1, shuffle=True) 
#Performing ten-fold cross validation 
score = cross_validate(p, xtrain, ytrain, scoring='accuracy', cv=cv)
#Printing the final test score 
print(score['test_score'])

[0.58695652 0.52173913 0.43478261 0.4673913  0.51648352 0.49450549
 0.50549451 0.45054945 0.3956044  0.3956044 ]

In [ ]:
#Implementing a perceptron model 
p = Perceptron(max_iter=50, tol=0.002) 
p.fit(xtrain, ytrain) 
#Splitting the dataset in ten folds 
cv = KFold(n_splits=10, random_state=1, shuffle=True) 
#Performing ten-fold cross validation 
score = cross_validate(p, xtrain, ytrain, scoring='accuracy', cv=cv)
#Printing the final test score 
print(score['test_score'])

[0.59782609 0.52173913 0.41304348 0.4673913  0.51648352 0.51648352
 0.48351648 0.46153846 0.40659341 0.41758242]

In [ ]:
#Implementing a perceptron model 
p = Perceptron(max_iter=50, tol=0.02) 
p.fit(xtrain, ytrain) 
#Splitting the dataset in ten folds 
cv = KFold(n_splits=10, random_state=1, shuffle=True) 
#Performing ten-fold cross validation 
score = cross_validate(p, xtrain, ytrain, scoring='accuracy', cv=cv)
#Printing the final test score 
print(score['test_score'])

[0.58695652 0.52173913 0.41304348 0.4673913  0.50549451 0.51648352
 0.49450549 0.46153846 0.3956044  0.41758242]